<h1>Shared Places</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Shared With</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shares.to_a.each do |share| %>
      <tr>
        <td><%= share.place.name %></td>
        <td><%= share.place.latitude %></td>
        <td><%= share.place.longitude %></td>
        <td><%= User.find(share.receipient_id).user_name %></td>
        <td><%= link_to 'Destroy', share, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Share New Place', new_place_path %>
<br/><br/><br/>
<%=link_to "All Users", all_users_path%>
<br/><br/>


<h2>My Map</h2>
<div id="map" class="map"></div>


<script type="text/javascript">
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([37.41, 8.82]),
      zoom: 50
    })
  });
</script>