<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, required: true %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, required: true %>
  </div>
  <div class="field">
    <%= form.label :user %>
    <%= select_tag(:user_id, options_for_select(@users)) %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
